.video-mixin{
    .video-mixin__thumb{
        height: 140px;
        border-radius: 7px;
        width: 100%;
        background-color: ivory;
    }
    .video-mixin__data{
        padding: 0px 15px;
        .video-mixin__title{
            font-size: 16px;
            display: block;
            margin-top: 10px;
        }
    
        .video-mixin__meta{
            margin-top: 5px;
            font-size: 12px;
        }
    }
}

@keyframes goAway{
    from{
        transform:none;
        opacity: 1;
    }
    to{
        transform:translateY(-50px);
        opacity: 0;
    }
}


.messages-mixin{
    position:absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    padding: 10px 20px;
    top:10px;


    border-radius: 10000px;
    max-width:200px;
    &.error{
        background-color: tomato;
        color:white;  
    }
    &.success{
        background-color: skyblue;
        color:white;
    }
    &.info{
        background-color: purple;
        color:white;
    }
    animation: goAway 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
    
}