#videoContainer:fullscreen{
    box-sizing: border-box;
    video{
        position: fixed;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
    }
    a{
        font-size:30px;
        margin-left:10px;
    }
    #fullScreen{
        font-size:20px;
        margin-left:10px;
    }
    .watch__timeLine{        
        width: 70%;
        margin-left: 10px;
    }
}

#videoContainer:not(:fullscreen) {
    a{
        font-size:25px;
        margin-right: 10px;
    }
    #fullScreen{
        font-size:20px;
        margin-left:10px;
    }

    .watch__timeLine{        
        width: 265px;
        margin-left: 10px;
    }
       
}

.video__comments{
    max-width:270px;
    width: 100%;
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    .video__comment{
        padding:10px;
        margin-bottom: 10px;
        border-radius: 50px;
        background-color: white;
        color:black;
    }
}