#videoContainer:fullscreen{
    box-sizing: border-box;
    video{
        position: fixed;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
    }
    a{
        font-size:30px;
        margin-left:10px;
    }
    #fullScreen{
        font-size:20px;
        margin-left:10px;
    }
    .watch__timeLine{        
        width: 70%;
        margin-left: 10px;
    }
}

#videoContainer:not(:fullscreen) {
    a{
        font-size:25px;
        margin-right: 10px;
    }
    #fullScreen{
        font-size:20px;
        margin-left:10px;
    }

    .watch__timeLine{        
        width: 265px;
        margin-left: 10px;
    }
    
    
}