extends base.pug

block content 
    h4
        form(method="POST")
            input(name="title", placeholder="Video Title", value=video.title, required="true")
            input(type="submit", value="Save")