extends base.pug
include mixins/video.pug


block content
    h1 Home
    input(placeholder="What you name?")
    button aaa
    
    each item in videos
        +video(item)
    else 
        li Sorry nothing found.