extends base.pug

block content
    form(method="POST")
        input(placeholder="name", type = "text", name = "name")
        input(placeholder="email", type = "email", name = "email")
        input(placeholder="username", type = "text", name = "username")
        input(placeholder="password", type = "password", name = "password")
        input(placeholder="location", type = "text", name = "location")
        input(type = "submit", value="join")