extends base.pug

block content   
    form(method="POST")
        input(name="title", placeholder="Upload Video", required="true")
        input(name="description", placeholder="Description", required="true")
        input(name="hashtags", placeholder="hashtags", required="true")
        input(type="submit", value="Upload")